<ion-content padding>
  <div>
    <ion-grid>
      <ion-row>
        <ion-item>
          <ion-label position="floating">Servidor</ion-label>
          <ion-input type="url"></ion-input>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-item>
          <ion-label position="floating">Numero da senha</ion-label>
          <ion-input type="number"></ion-input>
        </ion-item>
      </ion-row>
    </ion-grid>
    <ion-row>
      <ion-button size="large" expand="full" (click)="chamada()">Ok</ion-button>
    </ion-row>
  </div>
</ion-content>